<div class="panel panel-default clearfix">
  <div class="panel-body">
    <div class="btn-group btn-block pull-left">
      <% @cases.each do |detail| %>
        <%= link_to detail.title, "" %>
      <% end %>
    </div>
  </div>
</div>
