<div class="panel panel-default clearfix">
  <div class="panel-body">
    <div class="btn-group btn-block pull-left">
      <% @cases.each do |detail| %>
        <%= link_to articles_path(case_id: detail.id) do %>
          <%= detail.title%><span class="case-count"><%= detail.count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
