<div class="row">
  <div class="col-md-9">
    <div class="topics panel panel-default">
      <div class="topic-list-heading panel-heading clearfix">
        <div class="filter pull-right" style="display:none">
          <span class="l">查看:</span>
          <a data-turbolinks-action="replace" href="/topics" class="active">默认</a> /
          <a data-turbolinks-action="replace" href="/topics/popular" class="popular"><i class="fa fa-diamond"></i> 优质帖子</a> /
          <a data-turbolinks-action="replace" href="/topics/no_reply">无人问津</a> /
          <a data-turbolinks-action="replace" href="/topics/last">最新创建</a>
        </div>
      </div>
      <div class="panel-body item-list">

        <% if @articles.blank? %>
          <div class="no-result" data-turbolinks="true">
            <p>暂无内容</p>
          </div>
        <% else %>
        <%= render @articles %>
        <% end %>
      <div>

      <div class="panel-footer clearfix">
        <%= will_paginate @articles if @articles.respond_to?(:total_pages) %>
      </div>

    </div>
  </div>
</div>

</div>

  <div class="sidebar col-md-3">
    <div class="panel panel-default clearfix">
      <div class="panel-body">
        <div class="btn-group btn-block pull-left">
          <a class="btn btn-primary" href="/topics/new">发布新话题</a>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                <a href="/topics/new?node=44">部署</a>
              </li>
              <li>
                <a href="/topics/new?node=52">新手问题</a>
              </li>
              <li>
                <a href="/topics/new?node=24">工具控</a>
              </li>
              <li>
                <a href="/topics/new?node=3">Gem</a>
              </li>
              <li>
                <a href="/topics/new?node=27">瞎扯淡</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div class="panel panel-default">
      <div class="panel-heading">小帖士</div>
      <div class="panel-body">
        在你不熟悉的情况下，建议使用 Rails 标准推荐选择，例如用 erb 而不是 haml, slim，这能让你在进阶过程少遇到很多坑。
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <a href="http://rubyconfchina.org" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/75d6042000eebe88d302b320dd235a57.png!large" style="width: 100%;"></a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">推荐 Ruby 资源</div>
      <ul class="list-group">
           <li class="list-group-item"><i class="fa fa-cloud"></i> <a href="/wiki/ruby-mirror">Ruby 镜像</a></li>
           <li class="list-group-item"><i class="fa fa-diamond"></i> <a href="https://gems.ruby-china.org" target="_blank">RubyGems 镜像</a></li>
           <li class="list-group-item"><i class="fa fa-youtube-play"></i> <a href="http://railscasts.com" target="_blank" rel="nofollow">Rails 视频教程</a></li>
           <li class="list-group-item"><i class="fa fa-archive"></i> <a href="http://guides.ruby-china.org">Rails Guides 中文版</a></li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">友情社区</div>
      <ul class="list-group" style="text-align: center;">
       <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d427ef3efd33b57721df152c2aa1735e.png" style="width:130px; "></a></li>
         <li class="list-group-item"><a href="http://golangtc.com/" rel="nofollow" title="Golang 中国" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/3b0fc569b40157a397143d121fea7e6f.png" style="width:130px; "></a></li>
         <li class="list-group-item"><a href="http://phphub.org" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d7782871f3fac7e85a95d20c74046909.png" style="width:130px; "></a></li>
         <li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/e91d14ee109ed066e215057ab40257b7.png" style="width:150px; "></a></li>
         <li class="list-group-item"><a href="http://elixir-cn.com" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2015/f65fb5a10d3392a1db841c85716dd8f6.png" style="width: 140px; "></a></li>
         <li class="list-group-item"><a href="http://ionichina.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/62e5d33d4f90ead9e798e3f8ae085f16.png" style="width: 140px;"></a></li>
         <li class="list-group-item"><a href="https://testerhome.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/5cd78b730062ab3c768bcc2592c5c7fa.png" style="width: 150px;"></a></li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">统计信息</div>
      <ul class="list-group">
        <li class="list-group-item">社区会员: 28152 人</li>
        <li class="list-group-item">帖子数: 30834 个</li>
        <li class="list-group-item">回帖数: 303217 条</li>
      </ul>
    </div> -->

  </div>

</div>
