<div class="row">
  <div class="col-md-9">
    <% if @articles.blank? %>
      <div accesskey=""class="list-group-item">
        <p class="list-group-item-text">暂无内容</p>
      </div>
    <% else %>
      <%= render @articles %>
    <% end %>

    <% if !@articles.blank? %>
    <div class="panel-footer clearfix">
      <%= will_paginate @articles %>
    </div>
    <% end %>
</div>

  <div class="sidebar col-md-3">
    <%= render "articles/detail/right"%>
    <!-- <div class="panel panel-default clearfix">
      <div class="panel-body">
        <div class="btn-group btn-block pull-left">
          <a class="btn btn-primary" href="/topics/new">发布新话题</a>
        </div>
      </div>
    </div> -->
  </div>

</div>
