/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap-theme
 *= require articles
 *= require simditor
 *= require_tree .
 *= require_self
 */
@import "vars";
@import "bootstrap";
@import "bootstrap-theme";
@import "bourbon";
body {
    background: #e9eaed;
    color: #222527;
    font-family: Helvetica, Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
}
.navbar{
  background-color: #333;
  border-radius: 0px;
  padding: 0px;
  .navbar-header a{
    line-height: 52px;
    padding: 0px;
  }
}
.navbar-collapse{
  display: block;
}

.navbar-nav li{
  display: block;
  float: left;
  a {
    color: #fff;
    line-height: 52px;
    padding: 0px 15px;
    display: block;
    height: 100%;
    text-decoration: none;
  }
}

.navbar-nav li.active,.navbar-nav li:hover{
  background-color: #000;
  cursor: pointer;
}
.navbar-right{
  float: right;
  .navbar-nav li{
    float: right;
  }
}

.container {
  .row{
    margin-top: 15px;
  }
}

.form-signin {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-control-multi,.form-signin .form-control-multi input[type="password"]{
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0px;
}
.form-signin .form-control-last,.form-signin .form-control-last input[type="password"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox],
.radio input[type=radio], .radio-inline input[type=radio]
{
  position: inherit;
  margin-top: 4px;
  margin-left: 0px;
}
.line{
  margin: 0.75rem 0px;
  border-bottom: 1px solid #ddd;
  height: 1px;
}
a:link,a:visited {
  color: #222;
  font-weight: 400;
  line-height: 30px;
}
a {
  color: #333;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}

.panel-default {
  border-color: #ddd;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  padding: 0.75rem 1.25rem;
  border: 1px solid #ddd;
}
.panel .pull-left a{
  margin:10px 15px 0px 5px;
  font-size: 1rem;
  line-height: 23px;
  color: #666;
  min-width: 32px;
  text-align: center;
  border-radius: 80px;
  padding: 3px 8px 3px 8px;
  display: inline-block;
  text-decoration: none;
  background: #f0f0f0;
  .case-count{
    color: #fff;
    margin-left: 3px;
  }
}
